<h1>Final Car Value</h1>
<% if (value) { %>
    <h3>$<%= value %></h3>
<% } %>
<% if (baseValue) { %>
    <div>Base value: $<%= baseValue %></div>
<% } %>
<% if (percentage) { %>
    <div>Percentage: <%= percentage %>%</div>
<% } %>
